.smart-search-container {
    position: relative;
    width: 670px;
    right: 20px;
    left:-15px;
    margin: 20px auto;
    bottom: 50px;
  }
  
  .smart-search-input {
    width: 100%;
    padding: 10px;
    border-radius: 4px 0 0 4px;
    border: 1px solid #ccc;
    font-size: 1rem;
  }
  
  .smart-search-button {
    position: absolute;
    right: -30px;
    top: 0;
    bottom: 0;
    left: 500px;
    background-color: #00ffff;
    border: black;
    border-radius: 4px 4px 4px 4px;
    padding: 10px;
    cursor: pointer;
    font-weight: bold;
  }
  
  .suggestions-list {
    list-style: none;
    padding: 0;
    margin: 5px 0 0;
    background: #090101;
    border: 1px solid #ccc;
    border-radius: 4px;
    max-height: 150px;
    overflow-y: auto;
    position: absolute;
    width: 100%;
    z-index: 10;
  }
  
  .suggestions-list li {
    padding: 10px;
    cursor: pointer;
  }
  
  .suggestions-list li:hover {
    background: #f0f0f0;
  }
  